<!doctype html>
<html lang="en" data-framework="inferno">
<head>
    <title>Allabout.me</title>
</head>
<body>
    <div id="app"></div>
    <script src="/bundle.js?hash=<%= htmlWebpackPlugin.options.hashString %>"></script>
</body>
</html>
